{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<h1>About</h1>

<h4>Mission statement</h4>
<p>
[site name TBD] exists to empower bartenders, enthusiasts, and those curious to explore, create, and share the most delicious concoctions that humanity has invented.
</p>
<p>
When I have a drink, I want a novel experience.  I’m usually with friends or family, enjoying their company, and setting aside responsibilities and obligations until tomorrow.  For me, drinking something new, with surprising flavors, helps promote new, surprising conversation.
</p>
<p>
It is my hope that this site makes it easier for people of all different comfort levels to try something new.  Some recipes will have 8+ ingredients, 2 of which are not widely available in my country, and the 6 others might involve foraging for some rare fruit that is only in season for 2 weeks in a year to infuse a $50 bottle of vermouth that I’ll only use 1/4oz of per serving.  Its unlikely that even most professional bartenders would have access to those ingredients to replicate that.  But many of the specs of the cocktails served for $18 at the best bars in the world are really quite straightforward, and use ingredients readily available for a novice home bartender. And once you have those ingredients that you never would have picked up otherwise, now there might be 20+ other drinks that you’d never have thought to try that are available to you.
</p>
<p>
I think it’s important to note that this is not meant to be a replacement of visiting cocktail bars.  As I’m writing this, I’m looking forward to when COVID subsides and I can make the rounds to Dead Rabbit again, even though I no longer live down the street.  This idea really sprung out of my desire to serve high quality drinks at home, using the ingredients I have available to me.
</p>
<p>
Well, I’ve wasted a good amount of time writing this when I could’ve been working on building the actual site, so I guess I better get back to that.
</p>
<p>
-Leo
</p>

{% endblock %}